@use "colors" as *;
@use "mixins" as *;
@use "reset" as *;


html {
	scroll-padding-top: 20px;
	font-size: 62.5%;
	scroll-behavior: smooth;
}


body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;

}

.container {
	max-width: 95%;
	width: 100%;
	margin: 0 auto;
	padding: 0 0.5em;
}

.nav {
	position:fixed;
	width: 100%;
	z-index: 999;
	transition: bacground-color 0.4s ease;

	&__bgc {
		background-color: $black;
	}

	&__body {
		display: flex;
	}

	&__logo {
		display: none;
	}

	&__button {
		padding: 0.5em;
		color: $white;
		font-size: 2.4rem;
		cursor: pointer;
		z-index: 9999;
	}

	&__hide {
		display: none;
	}

	&__links {
		@include flexCenter(column);
		gap: 3em;
		position: fixed;
		left: 0;
		width: 100%;
		height: 100vh;
		top: 0;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		background-color: $black;
		transform: translateY(-110%);
		transition: all 0.6s ease;

		&--active {
			transform: translateY(0);
		}
	}

	&__link {
		padding: 0.5em;
		color: $white;
	}
}




@media (min-width: 768px) {
	.container {
		max-width: 1200px;
		padding: 0 1em;
		background-color: $black;
		
	}

	.nav {
		&__body {
			justify-content: space-between;
			padding: 0.3em;
		}

		&__logo {
			display: block;
			font-size: 4rem;
			color: $white;
			font-family: "Arizonia", cursive;
		}

		&__button {
			display: none;
		}

		&__links {
			flex-direction: row;
			gap: 0.5em;
			position: relative;
			left: unset;
			top: unset;
			width: unset;
			height: unset;
			padding: 1em 0;
			opacity: 1;
			font-weight: 700;
			transform: translateY(0);
			background-color: unset;
		}

		&__link {
			position: relative;
			padding: 0.3em 0.5em;
			color: $white;
			transition: color 0.3s ease;

			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: 0;
				left: 0;
				transform: scaleX(0);
				background-color: $forestgreen;
				transform-origin: bottom right;
				transition: transform 0.25s ease-out;
			}
			&:hover:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
		
    }
}